body{
    text-align: center;
    margin: 0;
    background: #0d1b2aea;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculator{
    max-width: 360px;
    background-color: #0d1b2a;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#display{
    width: 100%;
    height: 10%;
    font-size: 40px;
    text-align: right;
    padding: 20px;
    border-radius: 5px;
    color: #e0e1dd;
    background-color: rgba(13, 27, 42, 0.3);
    border: none;
    box-sizing: border-box;
}




.equal{
    width: calc(50%-10px);
}



.button:hover{
    cursor: pointer;
}

.button:active{
    transform: scale(1.05);
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.19),
        0 1.5px 1.5px rgba(0, 0, 0, 0.23)
}

.operator:hover{
    cursor: pointer;
}

.operator:active{
    transform: scale(1.05);
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.19),
        0 1.5px 1.5px rgba(0, 0, 0, 0.23)
}




#calculator .button {
    width: calc(25% - 10px);
    height: 50px;
    font-size: 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    float: left;
    background-color: rgb(13, 27, 42);
    color: #e0e1dd;
    -webkit-box-shadow:-1px 1px 30px -5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -1px 1px 30px -5px rgba(0, 0, 0, 0.2);
    box-shadow: -1px 1px 30px -5px rgba(0, 0, 0, 0.2);
}

#calculator .operator {
    width: calc(25% - 10px);
    height: 50px;
    font-size: 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    float: left;
    background-color: rgb(13, 27, 42);
    color: #219ebc;
    -webkit-box-shadow:-1px 1px 30px -5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -1px 1px 30px -5px rgba(0, 0, 0, 0.2);
    box-shadow: -1px 1px 30px -5px rgba(0, 0, 0, 0.2);
}



#blank{
    width: calc(25% - 10px);
    height: 50px;
    font-size: 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    float: left;
    background-color: #0d1b2a;
}

.gift{
    width: calc(25% - 10px);
    height: 50px;
    font-size: 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    float: left;
    background-color: rgb(13, 27, 42);
}
.gift img{
    width: 40%;
    height: 40%;
    margin-top: 22%;
}



/* #appBg{
    height: 420px;
    width: 300px;
}

#appBg form{
    height: 100%;
    width: 100%;
    background-color: #11106b;
    border-radius: 20px;
}

#appBg input[type=textfield]{
    height: 25%;
    width: 80%;
    cursor: default;
    font-family: sans-serif;
    background-color: #0f0d5b;
    color: white;
    padding: 15px;
    text-align: right;
    font-size: 50px;
    border: 0;
    border-radius: 10%;
    outline: none;
}

#appBg input[type=button], input[type=reset] {
    width: 22%;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: black;
    padding: 18px;
    margin: 3px;
    border: 0;
    border-radius: 100%;
}

#appBg .orange {
    background-color: rgb(253, 149, 3);
    color: white !important;
}

#appBg .grey {
    background-color: rgb(51, 51, 51);
    color: white !important;
}
*/